 *{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
 }
 
 
 body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
  }

  a {
    color: white;
    text-decoration: none;
  }

  .container {
    max-width: 960px;
    margin: auto;
}

  #navbar {
    background-color: rgb(34, 32, 32);
    color: white;
    height: 70px;
    padding-top: 5px;
    /* overflow: auto; */
  }

  #navbar h1 {
    float: left;
    padding-top: 10px;
  }

  #navbar ul {
    float: right;
    list-style: none;
    margin-top: 18px;
  }

  #navbar ul li {
    float: left;
  }

  #navbar ul a {
    padding: 20px;
  }

  #navbar ul a:hover {
    text-decoration: none;
    color: orange;
  }

  #top{
    margin-left: 90px;
    margin-right: 90px;
    max-width: 90%;
  }
  #top h2{ 
    color: orange;
  }
  

  #column{
    margin-right: 90px;
    margin-left: 90px;
    max-width: 100%;
    resize: auto;
  }


 
  #msg{
    width: 100%;
  }


  
  button{
    
    margin: 0.5rem;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color: #444;
    border-radius: 5px;
  }

  .footer{
    background-color: #444;
    padding: 20px;
    text-align: center;
    color: white;
    
  }
  
  .box-container
  {
    text-align: center;

 
    
  }
  .box
  {

    color: white;
    background-color: #444;
    width:33.3%;
    float: left;
    padding: 5rem;
  }

  .box i {
    font-size: 3rem;
  }